html{
    height: 100%;
    background-color: purple; 
    color: black;
    font-family: impact, courier;
    
}
label{
    font-family: verdana, arial, sans-serif;
}

#turnos, #descricao{
    resize: none;
}